/* practice writting css fast */
* {
 margin: 0;
 padding: 0;
 border-box: none;
 border:0;
}


.container {
 z-index: 20;
 display: grid;
 outline: none;
 position: relative
}
.box {
 position: absolute;
}
